/* Css Variables */

:root {
    --default: #ccc;
    --white: #fff;
    --dark: #2d3c49;
    --shadow: 2px 2px 5px 1px #d9d9d9;
}

html {
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 0 auto;
}

header {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background: black;
}